<div class="container">

  <div class="row">
    {{#each Article}}
      {{#if this.saved}}
    	  <div class="panel panel-default">
          <div class="panel-heading">
            <h3>
              {{this.title}}
              <button type="button" class="btn btn-primary btn-lg btn-comment" data-title="{{this.title}}">Comments</button>
              <button type="button" class="btn btn-primary btn-lg btn-delete" data-title="{{this.title}}">Delete Article</button>
            </h3>
          </div>
          <div class="panel-body">
            <a href="{{this.link}}">{{this.link}}</a>
          </div>
        </div>
        <form>
          <div class="form-group">
            <p>{{this.title}}</p>
            <label for="exampleTextarea">Example textarea</label>
            <textarea class="form-control" id="comment-input" rows="3"></textarea>
            <button type="submit" class="btn btn-primary btn-lg btn-post-comment" data-title="{{this.title}}">Submit Comment</button>
          </div>
      {{/if}}
    {{/each}}
  </div>

</div>